* {
  font-family: "Archivo", sans-serif;
}

.container {
  display: block;
  margin: 0 auto;
  width: 90vw;
  height: auto;
  margin-top: 1em;
  border: 1px solid #545454;
}
.container header {
  display: block;
  width: 100%;
  height: 5em;
  background: #edda15;
  position: relative;
  overflow: hidden;
}
.container header .menuBTN {
  width: 5em;
  height: 3em;
  border: 1px solid white;
  text-align: center;
  position: relative;
  top: 1em;
  left: 1em;
  display: inline-block;
}
.container header .menuBTN i {
  line-height: 1.5em;
  font-size: 2em;
  color: white;
}
.container header .menu {
  left: 0;
  margin-top: 2em;
  width: 100%;
  text-align: center;
  display: block;
  height: 20em;
  overflow: hidden;
}
.container header .menu ul {
  list-style-type: none;
  padding: 0;
}
.container header .menu ul li {
  font-size: 2em;
}
.container nav {
  display: block;
  width: 100%;
  height: 5em;
  background: white;
  position: relative;
  overflow: hidden;
}
.container nav .navBTN {
  width: 5em;
  height: 3em;
  border: 1px solid #545454;
  text-align: center;
  position: relative;
  top: 1em;
  left: 1em;
  display: inline-block;
}
.container nav .navBTN i {
  color: #545454;
  line-height: 1.5em;
  font-size: 2em;
}
.container nav img {
  width: 30vw;
  height: 7vh;
  position: absolute;
  top: 0em;
  left: 50vw;
}
.container nav .menu {
  left: 0;
  margin-top: 3em;
  width: 100%;
  text-align: center;
  display: block;
  height: 20em;
  overflow: hidden;
}
.container nav .menu ul {
  list-style-type: none;
  padding: 0;
}
.container nav .menu ul li {
  font-size: 2em;
  line-height: 5vh;
}
.container section {
  margin-bottom: 1em;
}
.container section .slider {
  position: relative;
}
.container section .slider img {
  width: 100%;
  height: 25vh;
}
.container .infoSECTION #info1 {
  margin-bottom: 5em;
}
.container .infoSECTION #info1 i {
  color: #545454;
  font-size: 2em;
  margin-top: 1em;
  margin-left: 3em;
  margin-bottom: 0.5em;
}
.container .infoSECTION #info1 i span {
  color: #545454;
}
.container .infoSECTION #info1 hr {
  width: 75vw;
}
.container .infoSECTION #info1 p {
  padding: 0 4em;
  font-size: 3vw;
  line-height: 1.5em;
}
.container .infoSECTION #info1 .proefles {
  display: block;
  width: 65vw;
  margin: 0 auto;
  background: #ffc107;
  font-size: 2em;
  padding: 3vw;
}
.container .infoSECTION #info2 {
  margin-bottom: 5em;
}
.container .infoSECTION #info2 i {
  color: #545454;
  font-size: 2em;
  margin-top: 1em;
  margin-left: 3em;
  margin-bottom: 0.5em;
}
.container .infoSECTION #info2 i span {
  color: #545454;
}
.container .infoSECTION #info2 hr {
  width: 75vw;
}
.container .infoSECTION #info2 p {
  padding: 0 4em;
  font-size: 3vw;
  line-height: 1.5em;
}
.container .infoSECTION #info3 {
  margin-bottom: 5em;
}
.container .infoSECTION #info3 i {
  color: #545454;
  font-size: 2em;
  margin-top: 1em;
  margin-left: 3em;
  margin-bottom: 0.5em;
}
.container .infoSECTION #info3 i span {
  color: #545454;
}
.container .infoSECTION #info3 hr {
  width: 75vw;
}
.container .infoSECTION #info3 p {
  padding: 0 4em;
  font-size: 3vw;
  line-height: 1.5em;
}
.container .video iframe {
  display: block;
  margin: 10em auto;
  width: 75vw;
  height: 14em;
}
.container footer {
  height: 3vh;
  background: #edda15;
  color: #545454;
  text-align: center;
  padding-top: 1em;
}

@media screen and (min-width: 720px) {
  .container header {
    height: 4vh;
  }
  .container header .menuBTN {
    display: none;
  }
  .container header .menu {
    margin-top: -0.5em;
  }
  .container header .menu ul {
    margin-left: 20vw;
  }
  .container header .menu ul li {
    font-size: 1vw;
    display: inline-block;
    margin-left: 3vw;
  }
  .container nav {
    height: 8em;
  }
  .container nav .navBTN {
    display: none;
  }
  .container nav img {
    left: 5vw;
    height: 12vh;
  }
  .container nav .menu {
    margin-top: 1em;
  }
  .container nav .menu ul {
    margin-left: 28vw;
  }
  .container nav .menu ul li {
    font-size: 1vw;
    display: inline-block;
    margin-left: 3vw;
  }
  .container section .slider .slideIMG {
    height: 85vh;
  }
}

/*# sourceMappingURL=style.css.map */
